<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/Framework/App/Manifest/Schema/manifest-1.0.xsd">
    <meta>
        <name>MothershipDemoApp</name>
        <label>Mothership Demo App</label>
        <label lang="de-DE">Mothership Demo App</label>
        <description>Mothership demo app by Mothership GmbH</description>
        <description lang="de-DE">Mothership demo app by Mothership GmbH</description>
        <author>Mothership GmbH</author>
        <copyright>(c) by Mothership GmbH</copyright>
        <version>1.0.0</version>
        <license>MIT</license>
        <icon>./Resources/config/plugin.png</icon>
    </meta>
    <setup>
        <registrationUrl>SHOPWARE_APP_URL/registration</registrationUrl>
        <secret>Mothership2023</secret>
    </setup>
    <admin>
        <base-app-url>SHOPWARE_APP_URL/iframe</base-app-url>
        <!-- Register a module that is opened from the app store and your list of installed apps -->
        <main-module source="SHOPWARE_APP_URL/iframe"/>
    </admin>
    <permissions>
        <read>order</read>
    </permissions>
</manifest>