<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    {% if app_debug %}
    {# For VueJS Debug#}
    <script src="http://localhost:8098"></script>
    {% endif %}
</head>
<body>
{% block body %}{% endblock %}
</body>
<script>
    window.parent.postMessage('sw-app-loaded', '*');
    window.shopQueries = {{ app.request.query.all|json_encode|raw }}
    window.appApiUrl = '{{ shopware_app_url }}'
</script>
</html>